Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
python-dotenv==1.1.0
SQLAlchemy==2.0.40
mysqlclient==2.2.7
requests==2.32.3
